html{
    height: 100%;
}
body{
     background-color:   rgb(245, 174, 215) ;
     margin: -10;
     
}
.navbar{
    padding-top: 0px;
    margin-top: -24.8px;
}
.navbar-brand{
    padding-left: 20px;
    padding-top: -10px;
}
.nav-item{
    padding: 8px;
}
.nav-item:hover{
    background-color: #9b989b;
    
}
.nav-link:hover{
    color:white;
    
}
.navbar-form {
    padding-left: 30px;
}
.button{
    padding-right: 10px;
}

.account{
    padding-left: 300px;
    padding-top: 5px;
}
.nav-item-3{
   padding-top: 5px;
}
.nav-item-1{
    padding-top: 5px;
}
.nav-item-2{
    padding-top: 5px;
}
.signIn{
    padding: 36px 36px 0;
    padding-left: 500px;

}
.profile{
    padding-left: 450px;
    padding-top: 50px;
    
}
.login
 {
    border: 3px solid #f1f1f1;
    width: 50%;
    margin-left: 50;
    box-align:center;
    background-color: white;
}
/*assign full width inputs*/
  
input[type=text],
input[type=password] {
    width: 70%;
    padding: 10px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    align-items: center;
}
/*set a style for the buttons*/
  
button {
    background-color: #f53e8a;
    color: #ffffff;
    padding: 8px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 30%;
    -webkit-box-align: center;
}
/* set a hover effect for the button*/
  
button:hover {
    opacity: 0.8;
}
/*set extra style for the cancel button*/
  
.cancelbtn {
    width: 20%;
    padding: 8px 18px;
    background-color: #000214;
    text-align: center;
    padding-right: 50px;
}
/*centre the display image inside the container*/
  

/*set padding to the container*/
  
.container {
    padding: 16px;
    text-align: center;
}
/*set the forgot password text*/
  
span.psw {
    float: right;
    padding-top: 16px;
}
/*set styles for span and cancel button on small screens*/
  
@media screen and (max-width: 300px) {
    span.psw {
        display: block;
        float: none;
    }
    .cancelbtn {
        width: 100%;
    }
}