html{
    height: 100%;
}
body{
     background-color:   white ;
     
}
.navbar{
    padding-top: 0px;
    margin-top: -24.8px;
}
.navbar-brand{
    padding-left: 20px;
    padding-top: -10px;
}
.nav-item{
    padding: 8px;
}
.nav-item:hover{
    background-color: #9b989b;
    
}
.nav-link:hover{
    color:white;
    
}
.navbar-form {
    padding-left: 30px;
}
.button{
    padding-right: 10px;
}

.account{
    padding-left: 300px;
    padding-top: 5px;
}
.nav-item-3{
   padding-top: 5px;
}
.nav-item-1{
    padding-top: 5px;
}
.nav-item-2{
    padding-top: 5px;
}